<h1> New Recipe </h1>

<%= form_for(current_user) do |recipe_form| %>
  <%= recipe_form.fields_for :recipes do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit 'Create Recipe' %>
  <% end %>
<% end %>