
  
  <h1><%= @recipe.name %> Recipe</h1>
        <table>
          <tr>
            <th>Ingredient Name</th>
            <th>Amount in ounces</th>
          </tr>
            <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
            <tbody>
            <tr>
              <td><%= recipe_ingredient.ing_name %></td>
              <td><%= recipe_ingredient.amount %><br> <%= link_to 'Edit Ingredient',
                        edit_user_recipe_ingredient_ingredient_path(current_user,recipe_ingredient) %> </td>
            </tr>
          </tbody>
            <% end %>
        </table>

<%= link_to 'Add Ingredient', new_user_recipe_ingredient_path(current_user, @recipe) %><br><br>
<%= link_to '<< Back to Recipes', user_recipes_path(current_user) %>