<h1>Edit Recipe</h1>
<%= form_for [current_user,@recipe_ingredient] do |recipe_form| %>
  <%= recipe_form.fields_for :recipe_ingredients do |f| %>
    <%= f.label :amount %>
    <%= f.number_field :amount, step: :any %>
    
    <%= f.submit "Update Amount" %>
  <% end %>
<% end %>